*{

margin: 0px;
padding: 0px;
}


h1{

text-align: center;
letter-spacing: 2px;
font-family: helvetica, arial, sans-serif;
text-shadow: 1px 2px 1px #ccc;
color: black;
}


body{

background-image: url("file:///C:/Users/maxil/AppData/Local/Temp/lu90564e4td1.tmp/lu90564e4tda.tmp/fixture.htm");

}